# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Generated documentation
/docs/_build/

# Created by `make package`. `nailgun.egg_info` is also used when another
# package does a `pip install -e …/nailgun`.
/build/
/dist/
/nailgun.egg-info/

# Coverage information
/.coverage
/htmlcov/

# FAM tests
/foreman-ansible-modules/
