# configuration for pre-commit git hooks

ci:
  autofix_prs: false  # disable autofixing PRs

repos:
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: debug-statements
