# For `make test`
mock
unittest2 ; python_version < '3.4'

# For `pre-commit`
pre-commit

# For `make docs-html` and `make docs-clean`
sphinx

# For `make package`
wheel

# For `make publish`
twine

# For linting
ruff
