# For `make test`
mock
unittest2 ; python_version < '3.4'

# For `make lint`. See: https://github.com/SatelliteQE/nailgun/issues/246
# and https://github.com/SatelliteQE/nailgun/issues/247
flake8
pylint
astroid

# For `make docs-html` and `make docs-clean`
sphinx

# For `make package`
wheel

# For `make publish`
twine

# For code coverage
coveralls
